/.CFUserTextEncoding
/.DS_Store
/.Trash
/.config
/.synamedia
/.vscode
/.zsh_history
/.zsh_sessions
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public
/cane.txt
/gabrielegiardino.code-workspace
/html.html